<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>


<!-- show -->
<form action="/restaurants/{{{restaurant.id}}}/edit?_method=PUT" method="POST">
  <h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
  <div class="form-group col-md-3">
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <label for="餐廳名稱" class="fas fa-utensils pr-2">餐廳名稱:</label>
          <input type="text" placeholder="name" name="name" size="100PX" value="{{{restaurant.name}}}">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="餐廳名稱" class="fas fa-utensils pr-2">餐廳英文名稱:</label>
          <input type="text" placeholder="name_en" name="name_en" size="95PX" value="{{{restaurant.name_en}}}">
        </span>

      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="類別" class="fas fa-utensils pr-2">類別:</label>
          <input type="text" placeholder="category" name="category" value="{{{restaurant.category}}}">
        </span>

      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="地址" class="fas fa-utensils pr-2">地址:</label>
          <input type="text" placeholder="location" name="location" size="100PX" value="{{{restaurant.location}}}">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="google地圖" class="fas fa-utensils pr-2">google地圖:</label>
          <input type="text" placeholder="google_map" name="google_map" size="94PX" value="{{{restaurant.google_map}}}">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="電話" class="fas fa-utensils pr-2">電話:</label>
          <input type="text" placeholder="phone" name="phone" value="{{{restaurant.phone}}}">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="評分" class="fas fa-utensils pr-2">評分:</label>
          <input type="text" placeholder="rating" name="rating" value="{{{restaurant.rating}}}">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="敘述" class="fas fa-utensils pr-2">敘述:</label>
          <input type="text" placeholder="description" name="description" size="100PX"
            value="{{{restaurant.description}}}">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <label for="圖片" class="fas fa-utensils pr-2">圖片:</label>
          <input type="text" placeholder="image" name="image" size="100PX" value="{{{restaurant.image}}}">
          <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}"
            style="max-width: 600px;">
        </span>
      </p>

    </div>
  </div>
  </div>
  <div class="col-12 col-md-10 mx-auto">
    <button type="submit" class="btn btn-success">修改清單</button>
  </div>
</form>