<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>


<!-- show -->
<form action="/restaurants/{{{restaurant._id}}}/edit?_method=PUT" method="POST">
  <h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
  <div class="row" style="background-color:lightgrey">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">

      <div class="form-group">
        <span>
          <label for="餐廳名稱" class="fas fa-utensils pr-2">餐廳名稱:</label>
          <input class="form-control" type="text" placeholder="name" name="name" value="{{{restaurant.name}}}">
        </span>
        <span>
          <label for="餐廳名稱" class="fas fa-utensils pr-2">餐廳英文名稱:</label>
          <input class="form-control" type="text" placeholder="name_en" name="name_en" value="{{{restaurant.name_en}}}">
        </span>
      </div>

      <div class="form-group">
        <span>
          <label for="類別" class="fas fa-utensils pr-2">類別:</label>
          <input class="form-control" type="text" placeholder="category" name="category"
            value="{{{restaurant.category}}}">
        </span>

        <span>
          <label for="電話" class="fas fa-utensils pr-2">電話:</label>
          <input class="form-control" type="text" placeholder="phone" name="phone" value="{{{restaurant.phone}}}">
        </span>

        <span>
          <label for="評分" class="fas fa-utensils pr-2">評分:</label>
          <input class="form-control" type="text" placeholder="rating" name="rating" value="{{{restaurant.rating}}}">
        </span>
      </div>



      <div class="form-group">
        <label for="地址" class="fas fa-utensils pr-2">地址:</label>
        <input type="text" class="form-control" placeholder="location" name="location"
          value="{{{restaurant.location}}}">
      </div>


      <div class="form-group">
        <label for="google地圖" class="fas fa-utensils pr-2">google地圖:</label>
        <input type="text" class="form-control" placeholder="google_map" name="google_map"
          value="{{{restaurant.google_map}}}">
      </div>

      <div class="form-group">
        <label for="簡介" class="fas fa-utensils pr-2">簡介:</label>
        <textarea class="form-control" name="description" cols="20" rows="4"
          required>{{restaurant.description}}</textarea>
      </div>

      <div class="form-group">
        <span>
          <label for="圖片" class="fas fa-utensils pr-2">圖片:</label>
          <input class="form-control" placeholder="image" name="image" value="{{{restaurant.image}}}">
        </span>
      </div>

      <img class="rounded mx-auto d-block mb-4 w-100 mt-5" src="{{restaurant.image}}" alt="{{restaurant.name}}"
        style="max-width: 600px;">

      <div class="form-group" align="center">
        <button type="submit" class="btn btn-success">修改清單</button>
        <a href="/" class="btn btn-danger" role="button">返回</a>
      </div>
    </div>
  </div>
  </div>

</form>