<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>


<!-- show -->
<form action="/restaurants/{{{restaurant.id}}}/edit" method="POST">
  <h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
  <div class="form-group col-md-3">
  </div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          餐廳名稱:
        </span>
        {{restaurant.name}}
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為 <input type="text" placeholder="name" name="name">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          餐廳英文名稱:
        </span>
        {{restaurant.name_en}}
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為 <input type="text" placeholder="name_en" name="name_en">
        </span>

      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{restaurant.category}}
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為 <input type="text" placeholder="category" name="category">
        </span>

      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{restaurant.location}}
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為 <input type="text" placeholder="location" name="location">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          google地圖：{{restaurant.google_map}}
        </span>
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為<input type="text" placeholder="google_map" name="google_map">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{restaurant.phone}}
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為 <input type="text" placeholder="phone" name="phone">
        </span>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          評分：
        </span>
        {{restaurant.rating}}
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為 <input type="text" placeholder="rating" name="rating">
        </span>
      </p>

      <p class="mb-5">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          敘述:
        </span>
        {{restaurant.description}}
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          更改為<input type="text" placeholder="description" name="description">
        </span>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            圖片：{{restaurant.image}}
          </span>
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            更改為<input type="text" placeholder="image" name="image">
          </span>

    </div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary ">修改清單</button>
</form>